.stock-container {
  width: 100vw;
  height: 100vh;
  background-color: teal;
  flex: display;
  justify-content: center;
  align-content: center;
  flex-flow: column;
}

.stock-bubble {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: pink;
  flex: display;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-flow: column;
}